.body {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

#age__form {
  padding: 1em;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.625em;
  padding: 1em;
  margin-bottom: 2.5em;
}

input {
  margin-top: 5px;
  display: block;
}

ul {
  text-align: center;
  list-style-type: none;

  padding: 0;
}

.age__calculate {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 3.125em;
  padding-right: 3.125em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  background-color: darkblue;
  color: white;
}

.age__result {
  padding: 3.125em;
  text-align: center;
}
